@page
@model WebApp.Pages.Contacto.EditModel
@{
}
<div id="AppEdit" class="container">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo Registro") <!-- validacion por si es agregar o Registro -->
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.IdContacto" /> <!-- se usa hidden por si se hara un edit  -->
                <!-- Campos de texto -->
                <div class="form-group mb-3">
                    <label for="Entity.Identificacion" class="form-label">Identificacion</label>
                    <input type="text" class="form-control" asp-for="Entity.Identificacion" maxlength="250" required> <!-- maxlenght para obligar a un tamano -->
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.PrimerApellido" class="form-label">PrimerApellido</label>
                    <input type="text" class="form-control" asp-for="Entity.PrimerApellido" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.SegundoApellido" class="form-label">SegundoApellido</label>
                    <input type="text" class="form-control" asp-for="Entity.SegundoApellido" maxlength="250" required>
                </div>

                <!-- boton -->
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar") <!-- validacion por si es agregar o actualizar -->
                        </button>
                    </div>
                </div>


            </form>


        </div>
    </div>
</div>

<!-- se jala el ts para que se utilice -->
@section Scripts{

    <script src="~/App/Contacto/Edit.js"></script>

}